<template id="taskCard">
  <div class="card" style="width: 18rem;">
    <div class="card-body" id="card-body">
      <h5 class="card-title" id="taskTitle"></h5>
      <div id="checkBoxHolder"></div>
      <p class="card-text" id="taskDesc"></p>
      <button style="background-color:rgb(209, 88, 88)" type="button" class="deleteTask" id="deleteTask" value="">delete</button>
      <button style="background-color:rgb(71, 71, 194)" type="button" class="modifyTask" id="modifyTask" value="">modify</button>
      <p id="taskID" style="display: none;"></p>
    </div>
  </div>
</template>

<template id="checkedBox">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
    <label class="form-check-label" for="flexCheckCheckedDisabled"></label>
  </div>
</template>

<template id="uncheckedBox">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
    <label class="form-check-label" for="flexCheckDisabled"></label>
  </div>
</template>

<template id="createTaskCard">
  <div class="card" style="width: 18rem;" id="newTaskArea">

    <div class="card-body">

      <h5 class="card-title" id="taskTitle">
        <div class="input-group input-group-sm mb-3" id = "titleInputGroup">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id = "titleInput">
        </div>
      </h5>

      <p class="card-text" id="taskDesc">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Description</span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id = "descInput">
        </div>
      </p>

      <div id="checkBoxHolder">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          </label>
        </div>
      </div>

      <button style="background-color:rgb(223, 47, 47)" type="button" id="cancelTask" onclick="cancelTask()">Cancel</button>
      <button style="background-color:rgb(47, 223, 71)" type="button" id="submitNewTask" onclick="submitNewTask()">Submit</button>

    </div>

  </div>
</template>

<div class="modal fade" id="descModal" tabindex="-1" role="dialog" aria-labelledby="descModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="descModalLabel">Please enter a description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Description:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveDesc">Save</button>
      </div>
    </div>
  </div>
</div>