#div1 {
  margin-top: 10rem;
  width: 505px;
  height: 375px;
  border: 1px solid #ff0000;
}
#div2 {
  margin-top: 10rem;
  width: 505px;
  height: 375px;
  border: 1px solid #ff0000;
}
.container {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "div1 div2"; 
}
.div1 { grid-area: div1; }
.div2 { grid-area: div2; }