.container {
  margin-bottom: 100px;
}
.card {
  color: rgb(36, 36, 36);
  padding: 10px;
  background-color: #25283d
}

button {
  border: none;
  border-radius: 4px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#completedButton {
  margin-left: 20px;
}

#card-body {
  background-color: rgb(255, 255, 255)
}

#createTaskCard {
  background-color: #808080
}

#card-body {
  display: grid;
  grid-template-columns: 1.6fr 0.4fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "card-title deleteTask"
    "card-text modifyTask";
}

.card-title { grid-area: card-title; }

.card-text { grid-area: card-text; }

.modifyTask { grid-area: modifyTask; }

.deleteTask { grid-area: deleteTask; }