<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="About page">
    <meta name="author" content="Noah Britton">
    {{>head}}
    <script defer src="js/main.js"></script>
    <title>About page</title>
  </head>

  <body>

    {{>header}}

    <!-- Begin page content -->
    <body>
    <main role="main" class="container">
      <h1 class="mt-5">About Me</h1>
      <p class="lead">My name is Noah Britton, I'm from Mechanicsville, Virginia, and I major in Computer science at Bridgewater college.</p>
      <p class="lead">Not much else to say really... oh, wait, I put a secret somewhere on this website.</p>
      <p class="lead">Hint: It's on the homepage somewhere.</p>
    </main>

    {{>footer}}
  </body>
</html>