<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="A secret easter egg">
  <meta name="author" content="Noah Britton">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Somethin' cool</title>
  {{> head}}
  <script src="js/cool.js"></script>
  <script src="js/colorPicker.js"></script>
  <link href="css/cool.css" rel="stylesheet">
</head>
<body>
  {{> header}}
  <main role="main" class="container">
    <h1 class="mt-5">Something I thought was cool</h1>
    <p class="lead">Just a cool animation done with css and javascript that I got from <a href="https://webkit.org/blog-files/3d-transforms/morphing-cubes.html" target="_blank">here</a>, not sure what exactly you'd use this for.</p> 
    <p class="lead">As a little challenge for myself, I added buttons that let you change the color of the text and the face (it took me longer to get those working than I care to admit).</p>
    <p class="lead">Yeah, not much to it, it's just kinda fun to look at.</p>
    <br>
    <div><button onclick="toggleShape()">Toggle Shape</button></div>
    <div><input type="checkbox" id="backfaces" onclick="toggleBackfaces()" checked><label for="backfaces">Backfaces visible</label></div>
    <br>
    <button type="button" onclick="changeTextColor()">Change Text Color</button> <input type="color" id="textColor" value="#000000">
    <br>
    <button type="button" onclick="changeFaceColor()">Change Face Color</button> <input type="color" id="faceColor" value="#000000">
    <br>
    <br>
    <br>
    <div id="container">
      <div id="stage" style>
        <div id="shape" class=" backfaces  cube">
          <div class="plane one" id="one">1</div>
          <div class="plane two" id="two">2</div>
          <div class="plane three" id="three">3</div>
          <div class="plane four" id="four">4</div>
          <div class="plane five" id="five">5</div>
          <div class="plane six" id="six">6</div>
          <div class="plane seven" id="seven">7</div>
          <div class="plane eight" id="eight">8</div>
          <div class="plane nine" id="nine">9</div>
          <div class="plane ten" id="ten">10</div>
          <div class="plane eleven" id="eleven">11</div>
          <div class="plane twelve" id="twelve">12</div>
        </div>
      </div>
    </div>
  </main>
  <!-- footer -->
  <footer class="footer">
    <div class="container">
      <span class="text-muted">blah blah blah...</span>
      <div><button type="button" onclick="toggleHuh()"><span class="text-muted">huh?</span></button></div>
    </div>
  </footer>
</body>
</html>
