<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="create account page">
    <meta name="author" content="Noah Britton">
    <title>Create Account</title>
    {{>head}}
    <link href="css/createAcc.css" rel="stylesheet">
    <script defer src="js/create-account.js"></script>

  </head>
<body>
<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form id="createAccountForm">

                <div class="form-outline mb-4">
                  <input id="username" type="text">
                  <label class="form-label" for="form3Example1cg">Userame</label>
                </div>

                <div class="form-outline mb-4">
                  <input id="email" type="text">
                  <label class="form-label" for="form3Example3cg">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input id="password" type="password">
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                  <button class="btn btn-outline-primary">Register</button>
        
              

              </form>

              <p id="message" class="message"></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>